{% assign file_extension = 'jpg' %}
{% assign chip_options = settings.chip_options | downcase | split: ', ' %}
{% assign swatch_options = settings.swatch_options | downcase | split: ', ' %}
{% assign variant_popup_page = pages[settings.variant_popup_page] %}

{% assign variant_popup_content_exists = false %}
{% assign variant_popup_option = '' %}

{% if settings.variant_popup_option != blank and settings.variant_popup_text != blank and variant_popup_page.content != blank %}
{% assign variant_popup_content_exists = true %}
{% assign variant_popup_option = settings.variant_popup_option | downcase %}
{% endif %}

{% capture guide_trigger %}
<a
    href="#"
    class="variant-popup__trigger accent type-body-small"
    data-variant-popup-trigger
    data-modal-content-id="modal-{{ settings.variant_popup_page }}"
>
    {{ settings.variant_popup_text }}
</a>
<div id="modal-{{ settings.variant_popup_page }}" class="variant-popup__content modal-content">
    <h2 class="type-heading-1 mt0 mb3">{{ variant_popup_page.title }}</h2>
    {{ variant_popup_page.content }}
</div>
{% endcapture %}

{% if show_swatches %}
{% for option in product.options_with_values %}
    {%- assign option_name = option.name | downcase -%}

    {% if swatch_options contains option_name %}
    <div class="product-form__option product-form__option-swatches js-enabled">
        <div class="product-form__color-swatches" data-option-buttons data-product-option="Option{{ option.position }}">
        <label class="product-form__option-label label-above" for="Option{{ option.position }}">
            {{ option.name }}
        </label>
        {% for value in option.values %}
            {% if option.selected_value == value %}
            <div class="product-form__color-swatches-selected product-form__selected-label">{{ value }}</div>
            {% endif %}
            {% for image in product.images %}
                <h3>{{ value }}</h3>
                <h3>{{ image.alt }}</h3>
                {% assign colorProductImage = image.alt | downcase | handle %}
                {% if colorProductImage = value %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% for value in option.values %}
            <button
            type="button"
            data-button="{{ value }}"
            class="product-form__color-swatch {% if option.selected_value == value %}selected{% endif %}"
            style="background-image: url({{ value | handle | append: '.' | append: file_extension | file_url }})"
            tabindex="0"
            aria-label="{{ value }}"
            >
            </button>
        {% endfor %}

        <select
            id="Option{{ option.position }}"
            name="options[{{ option.name | escape }}]"
            class="product-form__option-select"
        >
            {% for value in option.values %}
            <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
                {{ value }}
            </option>
            {% endfor %}
        </select>
        </div>
    </div>
    {% endif %}
{% endfor %}

{% for option in product.options_with_values %}
    {%- assign option_name = option.name | downcase -%}
    {% unless swatch_options contains option_name %}
    {% if chip_options contains option_name %}
        <div class="product-form__option product-form__option-chip js-enabled">
        <div class="product-form__chip-wrapper" data-option-buttons>
            <label class="product-form__option-label label-above" for="Option{{ option.position }}">
            {{ option.name }}
            </label>
            {% for value in option.values %}
            {% if option.selected_value == value %}
                <div class="product-form__chip-selected product-form__selected-label">{{ value }}</div>
            {% endif %}
            {% endfor %}

            {% for value in option.values %}
            <button
                type="button"
                data-button="{{ value }}"
                class="product-form__chip {% if option.selected_value == value %}selected{% endif %}"
                style="background-image: url({{ value | handle | append: '.' | append: file_extension | file_url }})"
                tabindex="0"
                aria-label="{{ value }}"
            >
                {{ value }}
            </button>
            {% endfor %}

            <select
            id="Option{{ option.position }}"
            name="options[{{ option.name | escape }}]"
            class="product-form__option-select"
            >
            {% for value in option.values %}
                <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
            </select>

            {% if variant_popup_content_exists and option_name == variant_popup_option %}
            {{ guide_trigger }}
            {% endif %}
        </div>
        </div>
    {% endif %}
    {% endunless %}
{% endfor %}

{% for option in product.options_with_values %}
    {%- assign option_name = option.name | downcase -%}

    {% unless swatch_options contains option_name or chip_options contains option_name %}
    <div class="product-form__option js-enabled">
        <select
        id="Option{{ option.position }}"
        name="options[{{ option.name | escape }}]"
        class="product-form__option-select">
        {% for value in option.values %}
            <option
            value="{{ value | escape }}"
            {% if option.selected_value == value %}selected="selected"{% endif %}>
                {{ value }}
            </option>
        {% endfor %}
        </select>

        <label class="product-form__option-label" for="Option{{ option.position }}">
        {{ option.name }}
        </label>

        <div class="product-form__option-select-icon">
        {% render 'icon-chevron-down' %}
        </div>

        {% if variant_popup_content_exists and option_name == variant_popup_option %}
        {{ guide_trigger }}
        {% endif %}
        </div>
    {% endunless %}
{% endfor %}

{% else %}
{% for option in product.options_with_values %}
    {%- assign option_name = option.name | downcase -%}

    {% unless swatch_options contains option_name %}
    {% if chip_options contains option_name %}
        <div class="product-form__option product-form__option-chip js-enabled">
        <div class="product-form__chip-wrapper" data-option-buttons>
            <label class="product-form__option-label label-above" for="Option{{ option.position }}">
            {{ option.name }}
            </label>
            {% for value in option.values %}
            {% if option.selected_value == value %}
                <div class="product-form__chip-selected product-form__selected-label">{{ value }}</div>
            {% endif %}
            {% endfor %}

            {% for value in option.values %}
            <button
                type="button"
                data-button="{{ value }}"
                class="product-form__chip {% if option.selected_value == value %}selected{% endif %}"
                style="background-image: url({{ value | handle | append: '.' | append: file_extension | file_url }})"
                tabindex="0"
                aria-label="{{ value }}"
            >
                {{ value }}
            </button>
            {% endfor %}

            <select
            id="Option{{ option.position }}"
            name="options[{{ option.name | escape }}]"
            class="product-form__option-select"
            >
            {% for value in option.values %}
                <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
            {% endfor %}
            </select>

            {% if variant_popup_content_exists and option_name == variant_popup_option %}
            {{ guide_trigger }}
            {% endif %}
        </div>
        </div>
    {% endif %}
    {% endunless %}
{% endfor %}

{% for option in product.options_with_values %}
    {%- assign option_name = option.name | downcase -%}

    {% unless chip_options contains option_name %}

    <div class="product-form__option js-enabled">
        <select
        id="Option{{ option.position }}"
        name="options[{{ option.name | escape }}]"
        class="product-form__option-select">
        {% for value in option.values %}
            <option
            value="{{ value | escape }}"
            {% if option.selected_value == value %}selected="selected"{% endif %}>
                {{ value }}
            </option>
        {% endfor %}
        </select>

        <label class="product-form__option-label" for="Option{{ option.position }}">
        {{ option.name }}
        </label>

        <div class="product-form__option-select-icon">
        {% render 'icon-chevron-down' %}
        </div>

        {% if variant_popup_content_exists and option_name == variant_popup_option %}
        {{ guide_trigger }}
        {% endif %}
    </div>
    {% endunless %}
{% endfor %}
{% endif %}